
/* Button New*/
.glow-on-hover {
    width: 100%;
    /* max-width: 800px; */
    height: 70px; /* Keep the height fixed for consistency */
    border: none;
    outline: none;
    color: #fff;
    background: #030b15;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    padding: 0 20px;
    font-size: 18px; /* Default font size */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
  }
  
  .glow-on-hover:before {
    content: '';
    background: linear-gradient(135deg, #ffffff, #ffbac3, #bbb6ff, #90e6f1, #00c4f4, #85edff, #ffffff);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    border-radius: 10px;
    opacity: 1;
  }
  
  .glow-on-hover:hover {
    color: #030b15
    ;
  }
  
  .glow-on-hover:hover:after {
    background: transparent;
  }
  
  .glow-on-hover:hover:before {
    opacity: 1;
  }
  
  .glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #030b15    ;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }
  

  